<!-- 🔹 Lista de artículos -->
{% for article in articles %}
    <div class="card contenido">

        {% if article.image %}
            <img src="{{ article.image.url }}" class="imagen"/>
        {% endif %}
        <h3>
            <a href="{% url 'article' article.id %}">{{ article.title }}</a>
        </h3>
        <div>
            {% for category in article.categories.all %}
                <a href="{% url 'category' category.id %}">{{ category.name }}</a>
                {% if forloop.counter < article.categories.all|length %}
                    {{ "-" }}
                {% endif %}
            {% endfor %}
        </div>
        <p><strong>Creado:</strong> {{ article.created_at }}</p>

        {% with texto=article.content|safe|striptags %}
            <p>
                {{ texto|truncatechars:100 }}

                {% if texto|length > 100 %}
                    <a href="{% url 'article' article.id %}">Leer más</a>
                {% endif %}
            </p>
        {% endwith %}

        <p>Creado por: <span>{{ article.user.first_name }} {{ article.user.last_name }}</span></p>


        {% if article.public %}
            <p class="activo">✅ Activo</p>
        {% else %}
            <p class="inactivo">❌ Inactivo</p>
        {% endif %}

        <!-- 🔹 Acciones -->


    </div>
{% empty %}
    <p style="text-align:center;">No hay artículos registrados 😢</p>
{% endfor %}