{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>{{ juego.titulo }}</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>

<body>

<nav>
    <a href="/">Inicio</a>
    <a href="/videojuego">Videojuego</a>
    <a href="/catalogo">Catálogo</a>
</nav>

<h1>🎮 {{ juego.titulo }}</h1>

<div class="contenedor-detalle">

    <div class="detalle">

        <img src="{% static 'img/' %}{{ juego.imagen }}">

        <div class="detalle-info">

            <h2>{{ juego.titulo }}</h2>

            <p><b>🎭 Género:</b> {{ juego.genero }}</p>
            <p><b>💻 Plataforma:</b> {{ juego.plataforma }}</p>
            <p><b>📅 Año:</b> {{ juego.anio }}</p>

        </div>

    </div>

</div>

</body>
</html>