{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Videojuego</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>

<body>

<nav>
    <a href="/">Inicio</a>
    <a href="/videojuego">Videojuego</a>
    <a href="/catalogo">Catálogo</a>
</nav>

<h1>🎮 Videojuego</h1>

<div class="contenedor-detalle">

    <div class="card-neon-verde">

        <img src="{% static 'img/' %}{{ imagen }}">

        <div class="detalle-info">

            <h2>{{ titulo }}</h2>

            <p>🎭 {{ genero }}</p>
            <p>💻 {{ plataforma }}</p>
            <p>📅 {{ anio }}</p>

        </div>

    </div>

</div>

</body>
</html>