{% extends 'meetups/base/base.html' %}
{% load static %}

{% block title %}Detalle del Meetup {% endblock %}

{% block site_css %}
<link rel="stylesheet" href="{% static 'meetups/styles/meetup-detail.css' %}">
{% endblock %}

{% block main_heading %} Detalle del evento {% endblock %}

{% block header_content %} Find the one that best suits your needs! {% endblock %}

{% block body %}

{% if meetup_found %}
<!-- Contenido principal -->
<article>

    <!-- Imagen principal -->
    <img
            id="main-image"
            src="{{ meetup_slug.image.url }}"
            alt="{{ meetup_slug.title }}"
    >

    <!-- Detalles -->
    <section id="details">
        <h2>{{ meetup_slug.title }}</h2>

        <address>
            <h2>Meeutup Location</h2>
            <address>This meetup takes place in
            <span>{{ meetup_slug.location.name }}</span> {{ meetup_slug.location.address }}
            </address>
            <span>Ciudad:</span> {{ meetup_slug.city }}
        </address>

        <p>
            Este meetup está enfocado en compartir conocimiento y experiencias
            sobre tecnología y desarrollo.
        </p>

        <footer>
            <p>
                ¿Quieres volver?
                <a href="{% url 'all-meetups' %}">Ver todos los meetups</a>

            </p>
            <p>Need more details? Please
            <a href="mailto:{{ meetup_slug.organizer_mail }}">contact us</a>.
        </p>
        </footer>
    </section>

    <!-- Registro (estructura lista para el futuro) -->
    <section id="registration">
        <h2>Registro</h2>
        <form action="{% url 'meetup-details' meetup_slug.slug %}" method="post">
            {% csrf_token %}
            <ul>
                {{ form.as_ul }}
            </ul>

            <div id="registration-actions">
                <button type="submit">Registrarse</button>
            </div>
        </form>
    </section>

</article>
{% else %}
<article>
  <p>No meetup found for this slug, sorry!</p>
</article>
{% endif %}

{% endblock %}
