{% extends 'layout.html' %}


{% block title %}
    Página de pruebas
{% endblock %}

{% block content %}
    {% comment 'Esto es un comentario' %}
    	Hola
    {% endcomment %}

    {#    Otro comentario#}
    <h1>{{ titulo }}</h1>
    <h2>{{ subtitulo }}</h2>

    {#    Uso de condicionales #}
    {% if cantidad <= 10 %}
        <p>Se está terminando el producto</p>
    {% else %}
        <p>Hay producto en existencia</p>
    {% endif %}
    <p>Contenido cargado de un bloque</p>

    {# Uso de ciclos for #}
    <h3>Lista de productos</h3>
    <ul>
        {% for producto in productos %}
            <li>{{ producto }}</li>
        {% empty %}
            <p>No hay productos que mostrar</p>
        {% endfor %}
    </ul>
    <hr>
    <h3>Lista de productos</h3>
    <ul>
        {% for producto in productos %}
            <li>{{ forloop.counter }} - {{ producto }} </li>
        {% empty %}
            <p>No hay productos que mostrar</p>
        {% endfor %}
    </ul>
    <hr>
    <h3>Lista de productos</h3>
    <ul>
        {% for producto in productos %}
            <li>{{ producto }} - {{ forloop.first }}</li>
        {% empty %}
            <p>No hay productos que mostrar</p>
        {% endfor %}
    </ul>
    <hr>
    <h4>Años pares hasta el 2050</h4>
    <ul>
        {% for year in years %}
            {% if year|divisibleby:2 %}
                <li>{{ year }}</li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}