<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}

        {% endblock %}
        | José L. García
    </title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
<h1>Sitio web con Django | José L. García</h1>
<hr/>
<ul>
    <li>
        <a href="/inicio">Inicio</a>
    </li>
    <li>
        <a href="/hola-mundo">Hola Mundo</a>
    </li>
    <li>
        <a href="/adios-mundo">Adios Mundo</a>
    </li>

</ul>

<div id="content">

    {% block content %}
        <strong>Contenido original del layout</strong>
    {% endblock %}
</div>
<footer>
    Master en Django
</footer>
</body>
</html>