{% extends "base.html" %}
{% load static %}
{% block titulo %}
    Inicio
{% endblock %}

{% block archivos_css %}
    <link rel="stylesheet" href="{% static 'catalogo/css/estilos.css' %}">
{% endblock %}

{% block contenido %}

    <h1>🎮 Catálogo de Videojuegos</h1>

    <div class="contenedor fondo-index">

        <div class="card">
            <h3>🧠 Aprender Django</h3>
            <p>Enviar datos desde las vistas a los templates.</p>
        </div>

        <div class="card">
            <h3>🎮 Videojuegos</h3>
            <p>Explora distintos títulos y plataformas.</p>
        </div>

        <div class="card">
            <h3>📚 Proyecto educativo</h3>
            <p>Ejemplo práctico para aprender desarrollo web.</p>
        </div>

    </div>

{% endblock %}
