{% extends "base.html" %}
{% load static %}

{% block titulo %}
    Videojuego
{% endblock %}

{% block archivos_css %}
    <link rel="stylesheet" href="{% static 'catalogo/css/estilos.css' %}">
{% endblock %}

{% block contenido %}

    <h1>🎮 Videojuego</h1>

    <div class="contenedor-detalle">

        <div class="card-neon-verde">

            <img src="{% static 'catalogo/../../static/catalogo/img/' %}{{ imagen }}">

            <div class="detalle-info">

                <h2>{{ titulo }}</h2>

                <p>🎭 {{ genero }}</p>
                <p>💻 {{ plataforma }}</p>
                <p>📅 {{ anio }}</p>

            </div>

        </div>

    </div>

{% endblock %}
