<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Bienvenida</title>

    <style>
        body.claro {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            color: #333;
            text-align: center;
            padding-top: 100px;
        }

    </style>
</head>

<!-- Cambia "claro" por "oscuro" -->
<body class="claro">

<h1>Bienvenido al Sistema de Pacientes</h1>
<p>Consulta y administra la información médica</p>

</body>
</html>
