{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Horarios</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>

<header>
    <nav>
        <a href="/">Inicio</a>
        <a href="/cartelera">Cartelera</a>
        <a href="/horarios">Horarios</a>
    </nav>
</header>

<h1>🕒 Horarios Disponibles</h1>

<div class="contenedor">

    <div class="card">
        <h3>Avatar</h3>
        <p style="color:#bbbbbb;">16:00 | 19:00 | 21:30</p>
    </div>

    <div class="card">
        <h3>El Señor de los Anillos</h3>
        <p style="color:#bbbbbb;">15:00 | 18:30</p>
    </div>

    <div class="card">
        <h3>Interestelar</h3>
        <p style="color:#bbbbbb;">17:00 | 20:00</p>
    </div>

</div>

</body>
</html>
