{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Inicio</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>

<header>
    <nav>
        <a href="/">Inicio</a>
        <a href="/cartelera">Cartelera</a>
        <a href="/horarios">Horarios</a>
    </nav>
</header>

<h1>🎬 Bienvenido a CineDark</h1>

<div class="contenedor">

    <div class="card">
        <h3>🍿 Estrenos cada semana</h3>
        <p style="padding: 0 15px 20px 15px; color:#bbbbbb;">
            Disfruta las mejores películas en estreno.
        </p>
    </div>

    <div class="card">
        <h3>🎟 Compra fácil</h3>
        <p style="padding: 0 15px 20px 15px; color:#bbbbbb;">
            Consulta horarios y organiza tu visita.
        </p>
    </div>

    <div class="card">
        <h3>✨ Experiencia Premium</h3>
        <p style="padding: 0 15px 20px 15px; color:#bbbbbb;">
            Pantallas gigantes y sonido envolvente.
        </p>
    </div>

</div>

</body>
</html>
