{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Inicio</title>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>

<header>
    <nav>
        <a href="{% url 'inicio' %}">Inicio</a>
        <a href="{% url 'comidas' %}">Comidas</a>
        <a href="{% url 'bebidas' %}">Bebidas</a>
        <a href="{% url 'pedidos' %}">Pedidos</a>
    </nav>
</header>

<h1>🍽️ Restaurante Sabor Web</h1>

<div class="contenedor">
    <div class="card">
        <h3>🍔 Platillos Especiales</h3>
        <p>Disfruta nuestras mejores recetas.</p>
    </div>

    <div class="card">
        <h3>🥤 Bebidas Refrescantes</h3>
        <p>Perfectas para acompañar tu comida.</p>
    </div>
</div>

</body>
</html>