{% load static %}

<li class="meetup-item">

    <div class="meetup-summary">
        <!-- Imagen (opcional, placeholder) -->
        <div class="meetup-image">
            <img src="{% static 'meetups/images/default.png' %}"
                 alt="{{ meetup.title }}">
        </div>

        <!-- Detalles -->
        <div class="meetup-details">
            <h3>{{ meetup.title }}</h3>
            <address>{{ meetup.city }}</address>
            <p>Fecha: {{ meetup.date }}</p>
            <p>Asistentes: {{ meetup.attendees }}</p>
        </div>
    </div>

    <!-- Acciones -->
    <div class="meetup-actions">
        <a href="{% url 'meetup-details' meetup.slug %}" class="btn">Ver
            detalles</a>
    </div>

</li>