<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listado de artículos</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/estilos_articulos.css' %}">
</head>
<body>
<div class="container">
    <h1>📚 Listado de artículos</h1>

    {% if messages %}
        {% for message in messages %}
            <div class="message {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <ul class="lista-articulos">
        {% for articulo in articulos %}
        <li class="card">
            {% if articulo.image %}
                <img src="{{ articulo.image.url }}" class="imagen" />
            {% endif %}

            <div class="contenido">
                <h4>{{ articulo.id }}. {{articulo.title}}</h4>
                <p>{{articulo.content}}</p>
                <a href="{% url 'borrar_articulo' articulo.id %}" class="btn-eliminar">
                    🗑 Eliminar
                </a>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
</body>
</html>